################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.gradle
.idea
**/build
**/intermediates
**/.vs
**/packages
**/bin
**/obj
**/journal
